.tickCounterContainer {
  display: inline-block;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 20px;
  font-weight: bold;
  color: #333;
}

.tickCounterDigitContainer {
  display: block;
  float: left;
  background-color: #EEE;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DDD), color-stop(20%, #FFF), color-stop(100%, #DDD)); /* webkit */
  background: -moz-linear-gradient(top, #DDD 0%, #FFF 20%, #DDD 100%); /* firefox */
  text-shadow: white 0 1px 0;
  padding: 0 4px;
  margin-right: 1px;
  height: 18px;
  overflow: hidden;
}

.tickCounterDigit {
  position: relative;
  display: block;
}

.tickCounterDigitValue {
  display: block;
  position: relative;
}
